{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
{% if show %}

<form class="contact100-form validate-form" action="check" method="post">
  {% csrf_token %}
  <span class="contact100-form-title">
    <img
      class="orion-logo"
      src="{% static 'images/stem-ed-logo.png' %}"
      alt="stem-ed-logo"
    />
    CLUES
  </span>
  <span class="contact100-form-subtitle">Clue {{clue.clue_no}}</span>

  <div>
    {% for message in messages%}
    <p
      style="
        background-color: rgb(253, 200, 200);
        padding: 8px 15px;
        border-radius: 2px;
        margin: 5px 0px 18px 0px;
        color: rgb(233, 1, 1);
      "
    >
      {{message}}
    </p>
    {% endfor %}
  </div>
  <p style="margin-bottom: 10px">{{clue.question}}</p>

  {% if clue.clue_no == 14 %}
  <img class="hint-image" src="{% static 'images/14.jpeg' %}" alt="hint-image" />
  {% endif %}

  {% if clue.clue_no == 22 %}
  <img class="hint-image" src="{% static 'images/22.jpg' %}" alt="hint-image" />
  {% endif %}

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">ANSWER</span>
    <input
      class="input100"
      type="text"
      name="answer"
      placeholder="enter your answer  (lowercase)"
    />
    <span class="focus-input100"></span>
  </div>

  <div class="container-contact100-form-btn">
    <div class="wrap-contact100-form-btn">
      <div class="contact100-form-bgbtn"></div>
      <button type="submit" class="contact100-form-btn">
        <span>
          CONTINUE
          <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
        </span>
      </button>
    </div>
  </div>
</form>

{% elif deadline %}
<img
      class="orion-logo"
      src="{% static 'images/Orion2Logo.png' %}"
      alt="ifsfs-logo"
    />
<span class="contact100-form-title" style="padding-bottom: 10px;">Your time to hunt is Up!</span>
<span class="contact100-form-subtitle" style="padding-bottom: 10px;">Stay tuned to see who won the Treasure Hunt!</span>

{% else %}

<span class="contact100-form-subtitle" style="padding-bottom: 10px"
  >Hunting has not yet started!</span
>

<div class="count">
  <div class="countd">
    <span id="days"><b>00</b></span>
    <b>DAYS</b>
  </div>

  <div class="countd">
    <span id="hours"><b>00</b></span>
    <b>HOURS</b>
  </div>

  <div class="countd">
    <span id="minutes"><b>00</b></span>
    <b>MINUTES</b>
  </div>

  <div class="countd">
    <span id="seconds"><b>00</b></span>
    <b>SECONDS</b>
  </div>
</div>

<a
  href="/accounts/editprofile"
  style="color: #17213f; font-size: 17px; display: block; text-align: center"
  >How about updating your user profile?</a
>

<script type="text/javascript">
  var count = new Date("{{chkdate}}").getTime();
  var now = new Date().getTime();
  var d = count - now;
  if (d > 0) {
    var x = setInterval(function () {
      var now = new Date().getTime();
      var d = count - now;

      var days = Math.floor(d / (1000 * 60 * 60 * 24));
      var hours = Math.floor((d % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((d % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((d % (1000 * 60)) / 1000);

      document.getElementById("days").innerHTML = days;
      document.getElementById("hours").innerHTML = hours;
      document.getElementById("minutes").innerHTML = minutes;
      document.getElementById("seconds").innerHTML = seconds;

      if (d <= 0) {
        clearInterval(x);
        location.reload();
      }
    }, 1000);
  }
</script>
{% endif %} 
{% endblock %}
